.header-container {
    width: 100%;
    background-color: #5676ff;
    display: flex;
    position: fixed;
    top: 0;
}

.header-item {

}

.header-title {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    flex-grow: 2;
    margin: 15px;
}

.header-buttons-container {
    display: flex;
}

.header-buttons-item {
    height: 100%;
}

.header-buttons-item-inner {
    cursor: pointer;
}

.header-dropdown-button {
    margin: 10px;
    background-color: aliceblue;
}