.header-container {
    width: 100%;
    background-color: skyblue;
    display: flex;
}

.header-item {

}

.header-title {
    font-size: 30px;
    flex-grow: 2;
    margin: 10px;
}

.header-buttons-container {
    display: flex;
}

.header-buttons-item {
    height: 100%;
}

.header-buttons-item-inner {
    cursor: pointer;
}

