.item-cell {
    padding: 5px;
    margin: 3px;
    text-align: center;
    transition: 250ms;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.2em;
    /*font-weight: bold;*/
    cursor: pointer;
    letter-spacing: 1em;
    width: 100px;
}

.item-cell:hover {
    /*background-color: lightskyblue;*/
    transform: scale(1.15, 1.15);
}

.upper-line {
    background-color: aquamarine;
}

.upper-line input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1em;
    /*font-weight: bold;*/
    outline: none;
    cursor: pointer;
    width: 50px;
    letter-spacing: 0.5em;
}

.bottom-line {
    background-color: aqua;
    font-size: 1.4em;
}

.selected-cell {
    background-color: #67bfff;
}